.video-card {
    width: 20rem;
    height: 18rem;
    box-shadow: 0 1px 2px var(--light-gray-color);
    background: var(--white-color);
    color: var(--secondary-color);
}

.thumb-div {
    height: 11.1rem;
}

.thumbnail {
    height: 100%;
}

.thumbnail-text {
    padding: 1.5rem;
}

.thumbnail-head{
    
    font-size: 1.2rem;
}