.videoCard-box {
    row-gap: 3rem;
}

.tab-chips {
    font-size: 1.1rem;
    background: var(--lighter-secondary-color);
    padding: 7px 14px;
    width: min-content;
    border-radius: 1.4rem;
}

.all-tab-chip {
    padding: 7px 20px;
}

.tab-chips:hover {
    background: var(--lightest-gray-color);
}