.aside-box {
    grid-area: aside;
    top: 4.72rem;
    left: 0;
    bottom: 0;
    gap: 1rem;
    padding: 3rem 3rem 2rem;
    overflow: hidden;
    background: var(--white-color);
    box-shadow: 0 0 4px 2px var(--light-gray-color);
}

.aside-items {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}