.login-main {
    margin-top: 10rem;
}

.login-form {
    background: var(--white-color);
}

.login-p:hover {
    color: var(--primary-dark-color)
}


.bg-primary-dark {
    background: var(--primary-dark-color);
}